*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height:100%;
    width:100%;
    background-color: aquamarine;
}
#fake{
    width: 100vw;
    height: 10vh;
    z-index: 10;
}
.contact{
    margin-left: 30px;
}
.icon{
    margin-left: 30px;
    ;
}
#logo{
    margin-right: 150px;
}
#header{
    height: 10vh;
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 15;
    display: inline-flex;
    align-items: center;

} 
#news{
    text-align: center;
    padding: 5px;
    color: white;
}
#refrences{
    width: 50%;
    height: 100%;
    padding: 15px;
}
.ref{
    width: 100%;
    height: 100%;
}
#others{
    width: 50%;
    height: 100%;
    padding: 20px;
}

#content1{
    background-color: whitesmoke;
}
#inside1{
    width: 100%;
    height: 30%;
    
    align-content: center;
    
}
#inside2{
    width: 100%;
    height: 50%;
    
    margin-top: 20px;
    font-size: 30px;
}
.content{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color:white;
    height: 100%;
    width: 50%;
    margin-top: 10px;
}
#quote{
    background-color: white;
    width: 100%;
    height: 25%;
    margin: 10px 10px;
    align-content: center;
    
    border-radius: 10px;
}
.contents{
    display: flex;
    width: 100%;
    height: 70%;
}
.text{
    
    padding-inline-start: 30px;
    padding: 10px;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 10px;
    border-radius: 5px;
}
.text:hover{
    background-color: lightgray;
}
#footer{
    height: 60vh;
    background-color: rgb(180, 231, 232);
    width: 100vw;
    display: flex;
}
#news{
    background-color:rgb(57, 57, 187);
    height: 5vh;
}
#page1{
    height: 85vh;
    width: 100%;
    background-color: white;
    padding: 20px;
    
}
#page2{
    height: 90vh;
    width: 100%;
    display: flex;
    
    
    
    align-items: center;
    align-content: center;
}
#extreme{
    margin-left: 200px;
}
.iconm{
    
    height:30%;
    width: 100%;
    border-radius: 10px;

}
.iconme{
    
    height: 70%;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    align-content: center;
}
.features{
    width: 25vw;
    
    height: 60vh;
    padding: 10px;
    margin: 10px;
}
#page3{
    height: 90vh;
    width: 100%;
    background-color: rgba(245, 245, 245, 0.81);
    
}
#page4{
    height: 50vh;
    width: 100%;
    
    
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.founders{
    width: 100%;
    height: 15%;
    
}
.nitin{
    width: 100%;
    height: 40%;
    
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    
}
.vivek{
    width: 100%;
    height: 40%;
    
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    margin-top: 20px;
}
.nimg{
    height: 100%;
    width: 30%;
}
.nabout{
    height: 100%;
    width: 70%;
}


  .image-slider {
    width: 100%;
    overflow: hidden;
    background: white;
  }
  
  .image-strip {
    display: flex;
    animation: scroll 10s linear infinite;
  }
  
  .image-strip img {
    width: 300px; /* Adjust based on your image size */
    height: 300px;
    margin-right: 10px;
  }
  
  /* Keyframes for scrolling effect */
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  



