*{
    margin: 0px;
    padding: 0px;
}
.certificate{
    height: 100vh;
    width: 100vw;
    display: flex;
    background-image: url('certificates.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.pic{
    height: 100%;
    width: 40%;
    
}
.info{
    height: 100%;
    width: 60%;
    
}
#header{
    width: 100vw;
    height: 100px;
    background-color: antiquewhite;
    display: flex;
}
body{
    background-color: antiquewhite;
}